In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
shipdata = pd.read_csv("/kaggle/input/titanic/train.csv")
shipdata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
inputs = shipdata.drop(['PassengerId','Name','SibSp','Ticket','Cabin','Embarked','Parch'], axis = 'columns')
target = shipdata['Survived']
inputs.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
E_sex = LabelEncoder()

In [6]:
inputs['Sex_n'] = E_sex.fit_transform(inputs['Sex'])
inputs.head()

   Survived  Pclass     Sex   Age     Fare  Sex_n
0         0       3    male  22.0   7.2500      1
1         1       1  female  38.0  71.2833      0
2         1       3  female  26.0   7.9250      0
3         1       1  female  35.0  53.1000      0
4         0       3    male  35.0   8.0500      1

In [7]:
inputs_n = inputs.drop('Sex',axis = 'columns')
inputs_n.head()

   Survived  Pclass   Age     Fare  Sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [8]:
from sklearn import tree

In [9]:
model = tree.DecisionTreeClassifier()

In [10]:
input_now = inputs_n.dropna()
input_now.head(10)

    Survived  Pclass   Age     Fare  Sex_n
0          0       3  22.0   7.2500      1
1          1       1  38.0  71.2833      0
2          1       3  26.0   7.9250      0
3          1       1  35.0  53.1000      0
4          0       3  35.0   8.0500      1
6          0       1  54.0  51.8625      1
7          0       3   2.0  21.0750      1
8          1       3  27.0  11.1333      0
9          1       2  14.0  30.0708      0
10         1       3   4.0  16.7000      0